flask==3.0.3
flask-session==0.8.0
youtube-transcript-api==0.6.3
langchain==0.2.14
langchain-community==0.2.12
langchain-huggingface==0.0.3
langchain-groq==0.1.9
langchain-text-splitters==0.2.2
faiss-cpu==1.8.0.post1
python-dotenv==1.0.1
requests==2.32.3
sentence-transformers==3.0.1
